@media (max-width: 990px) {
    .btn-collapse {
        width: 100%;
        margin: 20px 0 10px 0;
        min-height: 35px;
    }

    .btn-collapse span{
        display: inline-block;
    }
}

/* min width for all */
@media only screen and (min-width: 320px) and (max-width: 990px){

    .chat .dl-horizontal{
        padding:0 20px;
    }

    .chat .dl-horizontal dd{
        padding-left: 10px;
    }

    #filterSearch{
        margin-top: 20px;
    }

    #orderFilter,#selectFilter{
        width: 100%;
        margin-bottom: 5px;
    }

    #selectFilter{
        margin-bottom: 0;
    }

    .chosen-container{
        margin-bottom: 5px;
        display: block;
    }

    .collapseButton{
        width: 100%;
        padding: 8px 14px 7px;
    }

    label {
        margin-bottom: 5px;
        margin-top: 8px;
    }

    #dropdownMenu1{
        text-align: center;
    }

    .navbar-nav {

    }

    #timeline-content > li.timeline-separator::before {
        margin-left: 0;
    }

    .timeline > li.timeline-separator::before, .timeline-alt > li.timeline-separator::before {
        padding:0 30px;
    }
}

/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 480px){


}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 568px){

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 375px) and (max-width: 667px){

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 414px) and (max-width: 736px){

}
