body {
    background-color: #f2f2f2;
    color: #585f69;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.52857;
}

h1,h2{
    color: #302683;
}

h3{
    color: #3996d3;
}

p{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1.875em;
}

section{
    display: block;
    padding: 20px 0;
}

footer, .navbar{
    background: #fff;
}

.navbar{
    height: auto;
}

.navbar-brand {
    height: 90px;
}

.parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0)
}
.child {
    position: relative;
    top: 30%;
}

.btn-blue{
    background: #3996d3;
    border-color: #328dc9;
}

.btn-blue:hover{
    background: #2d2c7d;
    border-color: #2d2c7d;
}

.line-divider{
    border-top: 1px solid #ccc;
    height: 1px;
    width: 100%;
    display: block;
    margin: 0 0 5px 0;
}

.navbar-nav > li.active a{
    background: #eee;
}

/*
* Register food
*/

.auth-login{
    padding: 20px;
    background: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

#register{
    width: 70%;
    max-width: 400px;
    margin-top: 25px;
}

#register .btn-cyan{
    background: #337ab7;
}

#register .btn-cyan:hover{
    background: #286eaa;
}

.btn-primary {
    background-color: #43a8eb;
    border-color: #3ea6eb;
    color: #ffffff !important;
    padding: 3px 10px 4px 10px;
}

.btn-primary:hover {
    background-color: #319fe9;
    border-color: #3ea6eb;
    color: #ffffff !important;
}

#register .btn-primary,
#register .btn-cyan{
    color: #fff;
    padding:20px;
    font-size: 15px;
    line-height: 25px;
    white-space: normal;
    margin: 20px 0;
}

#register .btn-primary .fa,
#register .btn-cyan .fa{
    font-size: 18px;
    margin-bottom: 10px;
}

#register .btn span{
    display: block;
    text-transform: uppercase;
    font-size: 13px;
}

h3{
    font-weight: normal;
}

h4 {
    color: #444444;
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: normal;
}

#illustration img{
    width: 350px;
    margin-top: 30px;
}

#homeLogin{
    margin-top: 3px;
}

#homeLogin input.form-control{
    border-radius: 2px;
    font-size: 13px;
    height: 30px;
    border: 1px solid #e1e1e1;
    padding: 2px 7px;
}

#homeLogin .form-group.has-feedback{
    margin-bottom: 8px;
    margin-top: 15px;
}

.form-control-feedback{
    height: 30px;
    line-height: 30px;
    font-size: 11px;
}

@media screen and (min-width: 1024px) {
    .intro {
       height: 530px;
    }
}